body{
	font-family: Courier, monospace;
}

fieldset {
	border: none;
}

legend {
	font-size: 1.5em;
}

*:focus {
	outline: none;
}

input:focus {
	background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa;
}

input:required {
	background-color: #fff;
}

input:focus:invalid {
	box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

input:focus:valid {
	box-shadow: 0 0 5px green;
    border-color: green;
}

input {
	margin-top: 5px;
	margin-bottom: 10px;
}

textarea {
	margin-top: 5px;
	margin-bottom: 10px;
}

button {
	margin-left: 15px;
	margin-bottom: 15px;
}